
.vs/Simple Ray Tracer/v15/ipch/2eb066de7054122e.ipch
.vs/Simple Ray Tracer/v15/.suo
.vs/Simple Ray Tracer/v15/Browse.VC.db
.vs/Simple Ray Tracer/v15/Browse.VC.opendb
.vs/Simple Ray Tracer/v15/ipch/423bb50b2e8782ae.ipch
.vs/Simple Ray Tracer/v15/ipch/c6c5d3bbad82f398.ipch
.vs/Simple Ray Tracer/v15/ipch/ef3ad9ca83385558.ipch
